@font-face {
	font-family: omori_font;
	src: url(resources/OMORI-GAME2.ttf);
}

html {
	overflow: hidden;			/* Disable scrolling by default */
	font-family: omori_font;	/* Apply OMORI font to entire site */
}

header {
	user-select: none;
	width: 100%;
	margin-left: 15px;	/* This pushes the lightbulb-container to the right */
}

#lightbulb-container {
	display: flex;
	flex-direction: column; /* Make the string stack on the lightbulb */
	align-items: center;	/* Align the container in the center */
}
#string {
	position: absolute;
	top:0%;
	width: 1.5px;
	background-color: rgb(42, 42, 42);
	animation: fadeInMoveUpString 8s forwards;
}
#lightbulb {
	position: fixed;
	height: 105px;
	animation: fadeInMoveUp 8s forwards;
}
header h1:nth-of-type(1) { left: calc(50% - 360px / 2 + 15px); } 	/* OM text */
header h1:nth-of-type(2) { left: calc(50% + 70px / 2 + 15px); } 	/* RI text */
header h1 {
	position: fixed;
	margin-top: -44px;

	font-size: 160px;
	font-weight: lighter;

	animation: fadeInMoveUpDelayed 8s forwards;
}

/* These animations were recreated by studying the intro animations on https://www.omori-game.com/en */
@keyframes fadeInMoveUpString {
	0% 				{ height: 33.33%; opacity: 0; }	/* Start invisible in position */
	33.33%, 66.66%	{ height: 33.33%; opacity: 1; }	/* Fade in */
	100% 			{ height: 17px; }				/* Emulate the string moving up by simply shrinking the string */
}
@keyframes fadeInMoveUp {
	0% 				{ top: 33.33%; opacity: 0; } 	/* Start invisible in position */
	33.33%, 66.66%	{ top: 33.33%; opacity: 1; } 	/* Fade in */
	100% 			{ top: 17px; opacity: 1; }		/* Move up */
}
@keyframes fadeInMoveUpDelayed {
	0%, 33.33% 	{ top: 33.33%; opacity: 0; } 		/* Start invisible in position */
	66.66% 		{ top: 33.33%; opacity: 1; } 		/* Fade in */
	100% 		{ top: 17px; opacity: 1; } 			/* Move up */
}

menu {
	/* Override default menu setting */
	padding-inline-start: 0px;
	padding-left: 0px;
	display: block;
	list-style-type: none;
	margin:0;
	
	transform: translateY(125vh);
	font-size: 120px;
	animation: moveUp 8s forwards;
}
@keyframes moveUp {
	0%, 66.66% 	{ transform: translateY(125vh); } 	/* Start in position */
	100% 		{ transform: translateY(72.5vh);} 	/* Move up */
}
#rectangle {
	position: absolute;
	width: 60vw;
	height: calc(60vw * calc(310/410));
	max-width: 410px;
	max-height: 310px;
	left: 50%;
	
	transform: translate(-50%, -60%);
	
	background-color: white;
	border: 4px solid black;
}
.sprite {
	position: absolute;
	user-select: none;
	/* Disable anti-aliasing on low-resolution sprite images look better */
	image-rendering: pixelated;
}
.sprite[src="resources/laptop.gif"] { 
	left: 30%;  top: 3%; height: auto; width: calc(60vw * (60/410)); 
	max-width: 60px; min-width: 20px;
}
.sprite[src="resources/mewoSleep.gif"] {
	left: 0%; top: 108%; height: auto; width: calc(60vw * (89/410));
	max-width: 89px; min-width: 20px;
}
.sprite[src="resources/tissues.bmp"] {
	left: 81%; top: 75%; height: auto; width: calc(60vw * (55/410));
	max-width: 55px; min-width: 20px;
}
.sprite[src="resources/notepad.bmp"] {
	left: 81%; top: 6%; height: auto; width: calc(60vw * (60/410));
	max-width: 60px; min-width: 20px;
}
.sprite[src="resources/mewoSleep.gif"]:hover {
	content: url('resources/mewoWake.gif');
}

#textbox {
	position: relative;
	text-align: center;

	overflow: hidden;
	width: fit-content;
	min-width: 330px;
	top: 85%;
	left: -30%;

	opacity: 0;
	background-color: black;
	border: 4px solid black;
	
	animation: fadeIn 2s forwards;
	animation-delay: 7s;
}
#inner-textbox {
	user-select: text;
	color: white;
	font-size: 22px;
	padding: 10px;
	border: 2.5px solid white;
	white-space: nowrap;
	overflow: hidden;
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.content {
	position: fixed; 
	top: 130px;
	left: 20%;
	right: 20%;
	bottom: 46.5%;
	border: 4px solid black;
	border-radius: 50px;

	user-select: text;
	word-wrap: break-word;
	box-sizing: border-box;
	padding-left: 50px;
	padding-right: 50px;
	margin: 0;
	font-size: 22.5px;

	overflow: auto;
	display: none;
}
.content > h2 {
	text-align: center;
	font-size: 32.5px;
	font-weight: bolder;
	margin: 0px;
	margin-bottom: 0;
}
.content > img {
	width:30%;
}
.content:target
{
	/* Make the paragraph visible if targeted by the URL */
	display: block;
	animation: textboxAppear 1s forwards, loopGradient 15s linear infinite;
	
	/* Setup background */
	background-size: 400% 400%; 
}
/* Gradient backgrounds */
.content[id="Gameplay_of_OMORI"]:target {
	background-image: linear-gradient(to right, #894965, #2C2441, #894965);
	color: white;
}
.content[id="Art_of_OMORI"]:target {
	background-image: linear-gradient(to right, #6D95C7, #2C2441, #6D95C7);
	color: white;
}
.content[id="Story_of_OMORI"]:target {
	background-image: linear-gradient(to right, #e6c670, #df793d, #e6c670);
	color: black;
}
.content[id="Characters_of_OMORI"]:target {
	background-image: linear-gradient(to right, #de5e5e, #de805e, #de5e5e);
	color: black;
}
@keyframes textboxAppear {
	from {
		opacity: 0;
		transform: scale(0) translateY(50%);
	}
	to {
		opacity: 1;
		transform: scale(1) translateY(0%);
	}
}
@keyframes loopGradient {
	0% { background-position: 0vw; }
	100% { background-position: calc(60vw * 4); }
}
::-webkit-scrollbar { /* hide the default scrollbar which was making the site really ugly */
	display: none;
}
/* if i had more time TODO: make an pointing finger in the bottom right of the reading window point down to show that the user can scroll down */

/*	Nav buttons
	Supports keyboard and/or mouse to choose each nav button 
	Excludes animating the lightbulb, which secretly returns to the default page
	Also exclude Mewo which has its own effect on hover */
div > a:not([href="#Characters_of_OMORI"]):focus > img, 
div > a:not([href="#Characters_of_OMORI"]):hover > img { 
	transform: scale(1.1);
}

footer {
	position: fixed;
	bottom: 5px;
	font-size: 15px;
}
footer > data {
	position: relative;
	font-size: 12px;
	top: 2px;
	color: rgb(45, 45, 45)
}

/* Media Query, adjust size of some elements on smaller screens */
@media (max-width: 800px), (max-height: 850px) {
	/* Move Mewo onto the rectangle */
	.sprite[src="resources/mewoSleep.gif"] {
		top: 77%;
		left: 2%;
	}
	#textbox {
		top: 105%;
		left: -25%;
		font-size: 30px;
	}
	.content {
		bottom: 43%;
		font-size:17.5px;
		left: 2%;
		right: 2%;
	}
	.content > h2 {
		font-size: 27.5px;
	}
	@keyframes loopGradient {
		0% { background-position: 0vw; }
		100% { background-position: 96vw; }
	}
}